@model IEnumerable<Models.EF.News>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-blog-post">
            <div class="image">
                <a href="blog-details.html" class="d-block">
                    <img src="@item.Image" alt="blog-image">
                </a>
            </div>
            <div class="content">
                <span class="date">
                    <span>@item.CreateDate.Value.ToString("dd/MM")</span>@item.CreateDate.Value.ToString("yyyy")
                </span>
                <a href="javascript:void(0)" class="category">ADMIN</a>
                <h3><a href="blog-details.html">@item.Title</a></h3>
            </div>
        </div>
    </div>

}