<ul>
    <li><a href="/trang-ca-nhan">Thông tin cá nhân</a></li>
    <li><a href="#">Lịch sử mua hàng</a></li>
    <li><a href="#">Phương thức thanh toán</a></li>
    <li><a href="#">Đổi mật khẩu</a></li>
</ul>
