@model IEnumerable<Models.EF.Order>
@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Lịch sử mua hàng</h1>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li>Lịch sử mua hàng</li>
            </ul>
        </div>
    </div>
</div>


<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_follow_us">
                        <h3 class="widget-title"><span>Liên kết</span></h3>
                        @{ Html.RenderAction("ProfileMenu", "Profile"); }
                    </div>
                </aside>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="contact-form">
                        <h3>Lịch sử mua hàng của bạn: </h3>
                        <div class="row">
                            <div class="cart-table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mã đơn hàng</th>
                                            <th scope="col">Nội dung</th>
                                            <th scope="col">Tổng giá</th>
                                            <th scope="col">Ngày mua</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <h6>#@item.OrderCode</h6>
                                                </td>
                                                <td>
                                                    @foreach (var code in item.OrderDetail)
                                                    {
                                                        <p>@code.Product.Name: <span class="text-danger">@code.Code</span></p>
                                                    }
                                                </td>
                                                <td>@item.TotalAmount.ToString("N0")đ</td>
                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

