
@{
    ViewBag.Title = "Trang không tồn tại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="not-found-area ptb-100">
    <div class="container">
        <div class="not-found-content">
            <img src="/Content/Client/img/error.png" alt="error-image">
            <h3>Trang không tồn tại</h3>
            <p>Trang bạn đang tìm kiếm có thể đã bị xóa do đã thay đổi tên hoặc tạm thời không khả dụng.</p>
            <a href="/" class="default-btn"><span>Quay lại thôi</span></a>
        </div>
    </div>
</div>