
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-area pt-100 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-12">
                <div class="about-image">
                    <img src="~/Content/Client/img/about/ab3.png" alt="about-image">

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <h2>Giới thiệu về GiftToi</h2>
                    <h6>
                        GiftToi là thương hiệu được sinh ra từ giấc mơ của một game thủ, phát triển bởi tập thể các game thủ để phục vụ cho cộng đồng game thủ Việt.
                    </h6>
                    <h6>
                        Đội ngũ tư vấn không đơn thuần là nhân viên kinh doanh, chúng tôi còn là những người yêu game với mong muốn giúp bạn cùng sở thích có được dàn máy và gear phù hợp.
                    </h6>
                    <h6>
                        Sự hài lòng của khách hàng chính là động lực giúp GiftToi không ngừng hoàn thiện, mang lại ngày càng nhiều giá trị tích cực cho cộng đồng. Khách hàng hôm nay là đồng đội tương lai! Chúng ta cùng nhau lan toả giá trị tích cực đến cộng đồng game thủ và tất cả những người yêu công nghệ tại Việt Nam.”
                    </h6>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="about-image">
                    <img src="~/Content/Client/img/about/ab4.png" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>