
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-area pt-100 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/about1.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <h2>The Story of Our Journey</h2>
                    <span>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Cras ultricies ligula sed magna dictum porta.</span>
                    <p>We offer quality products at low prices every day. We have been in this business for most 20 years. We have been doing online shopping very confiden tly. Our customers like and trust us so much because of the quality of our site's products. Cras ultricies ligula sed magna dictum porta low prices every day.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/about2.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>